html,
body {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Microsoft YaHei';
  background-image: url(../images/bg.png);
  background-attachment: fixed;
  margin-bottom: 70px;
}
textarea,
input,
button {
  outline: none;
  font-family: 'Microsoft YaHei';
}
.container {
  margin: 0 auto;
  width: 1000px;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}
.menu_a {
  padding: 15px 20px;
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}
.menu_a:hover {
  background-color: #eee;
  cursor: pointer;
}
.menu_body {
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.menu_ac {
  background-color: #eee;
}
.search_wrap {
  display: flex;
  float: right;
  height: 51px;
  margin-right: 20px;
}
.search_wrap input {
  height: 30px;
  border-radius: 5px;
  border: #5D4485 1px solid;
  margin-top: 9px;
  outline: none;
  padding-left: 5px;
  padding-right: 5px;
}
.search_wrap button {
  color: #5D4485;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: #5D4485 1px solid;
  font-size: 18px;
  font-family: 'Microsoft YaHei';
  border-radius: 4px;
  /* padding: 3px; */
  margin-top: 9px;
  height: 34px;
  margin-left: 5px;
}
.search_wrap button:hover {
  color: #fff;
  background-color: #5D4485;
}
.editor_con {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 70px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}
.form_group {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.descri,
.con_input {
  float: left;
}
.descri {
  width: 7%;
}
.descri label {
  line-height: 2.5;
  padding-left: 20px;
}
.con_input {
  width: 93%;
}
.con_input textarea {
  height: 70px;
}
.con_input textarea,
.con_input input {
  font-size: 15px;
  line-height: 1.8;
  display: block;
  box-sizing: border-box;
  width: 98%;
  margin: 0 auto;
  padding: 5px 5px;
  border: #9e9e9e 1px solid;
  border-radius: 5px;
}
.form_group button {
  font-size: 18px;
  display: block;
  width: 98%;
  margin: 0 auto;
  padding: 10px 15px;
  cursor: pointer;
  color: #5d4485;
  border: #5d4485 1px solid;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}
.form_group button:hover {
  color: #fff;
  background-color: #5d4485;
}
.blog_bottom {
  background-color: #fff;
  opacity: 0.8;
  position: fixed;
  height: 50px;
  bottom: 0px;
  width: 100%;
}
.blog_bottom_a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
  font-size: 16px;
}
.blog_bottom_a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: green;
}
.qzone:before,
.weibo:before {
  content: "";
  background-size: 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
.qzone:before {
  background-image: url(../images/qzone.ico);
}
.weibo:before {
  background-image: url(../images/weibo.ico);
}
