<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <title>Add Snippet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Snippets" />
    <meta name="author" content="Tosone" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/css/edit.css" />
</head>

<body>
    <div class="container">
        <div class="form_group clearfix">
            <div class="descri">
                <label for="intro">介绍</label>
            </div>
            <div class="content">
                <textarea id="intro" placeholder="介绍"><%= intro ? intro : "" %></textarea>
            </div>
        </div>
        <div class="form_group clearfix">
            <div class="descri">
                <label for="code">语言</label>
            </div>
            <div class="content">
                <select id="lang" class="lang">
<%
                    langs.forEach(function(lang) {
						if(lang === codelang) {
%>
                            <option value="language-<%= lang %>" selected><%= lang %></option>
<%
						} else {
%>
                            <option value="language-<%= lang %>"><%= lang %></option>
<%
						}
                    });
%>
                </select>
            </div>
        </div>
        <div class="form_group clearfix">
            <div class="descri">
                <label for="code">代码</label>
            </div>
            <div class="content">
                <textarea id="code" placeholder="代码"><%= code ? code : "" %></textarea>
            </div>
        </div>
        <div class="form_group">
            <button id="submit">提交</button>
        </div>
    </div>
    <script type="text/javascript">
    var url = "/edit<%= id ? ("?id=" + id) : ""%>";
    </script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/add.js"></script>
</body>

</html>
